$primary-color: #428bca !default;
$side-spacing: 8px !default;
$primary-spacing: 15px;
$font-color-default: #212121;
$font-color-light: #757575;
$bg-color: #ededed;
$bg-white: #ffffff;
$primary-color: #ff6f00;
$negative-color:  #797979;
$checkbox-color:#99cc33;
$border-default: 1px solid #EEEEEE;
$address-bgcolor:#83766e;
$address-icon-color:#bdbdbd;
$font-low-color:#bdbdbd;
$border-light:1px solid #e0e0e0;
