:local(.search-input) {
    height: 30px;
    width: 100%;
    background-color: #fff;
    padding: 0 10px;
    border-radius: 15px;
    -webkit-appearance: none;
    border: none;
    color: #666;
    outline: none;
}