.girl-list{
    padding: 10px;
    background-color: #fff;
}

.girl-item{
    padding: 10px;
    color: red;
}

.heading{
    font-weight: normal;
    padding: 6px 20px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.heading-title{
    font-size: 16px;
}